ion-card-title{
    font-size: 20px;
  }
  ion-card-subtitle{
    font-size: 14px;
  }
  
  ion-label{
    font-size: 14px;
  }
  .status{
    color: #1c345c;
    font-size: 14px;
    font-weight: bold;
  }
  