<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img src="../../assets/img/logo_circle.png" alt="Logo Inspection squad" style="width: 50px;"></ion-img>
    <div class="user" style="text-align: right;" (click)="presentActionSheet()">
      <ion-label style="color: #6E6E6E;">{{user}}  <ion-icon name="person"></ion-icon> </ion-label>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>

  <br>
  <ion-item >
    <ion-label class="titulo">DETAILS OBSERVATIONS IN INSPECTION </ion-label>
  </ion-item>

  <ion-card>
    <ion-card-header>
      <ion-label style="font-size: 14px;"><b>Inspected by: </b>{{inspect_by}}</ion-label><br>
      <ion-card-title>{{type}} - {{description_inspection}}</ion-card-title><br>
    </ion-card-header>
    <ion-grid>
      <ion-col><ion-button  fill="solid" size="small" shape="round" (click)="addObservation()" [routerLink]="['/observation-section',type]" ><ion-icon name="add-outline"></ion-icon>&nbsp;ADD</ion-button></ion-col>

      <ion-col>
        <ion-button  fill="solid" size="small" shape="round" (click)="sendReport(true)"  *ngIf="swCompleted"><ion-icon name="send-outline"></ion-icon>&nbsp;SEND REPORT</ion-button>
        <ion-alert
          [isOpen]="isAlertOpen"
          header="Send Report"
          subHeader="{{name_emp}}"
          message="The report has been sent successfully."
          [buttons]="alertButtons"
          (didDismiss)="sendReport(false)"
        ></ion-alert>
      </ion-col>

      <ion-col>
        <ion-button  fill="clear" size="small" shape="round" style="background-color: #b11c44;color: #fff;" (click)="showConfirmationCancel()" *ngIf="swPending">CANCEL</ion-button>
        <ion-button  fill="solid" size="small" shape="round" (click)="showConfirmationPending()" *ngIf="!swPending">UPDATE PENDING</ion-button>
      </ion-col>
     </ion-grid>
    </ion-card>

  <ion-card *ngFor="let dato of datos;">
    <ion-card-content>
      <ion-item>
        <ion-label><b>Section Observation </b> {{dato.seccion_observation}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b><ion-icon name="checkmark-outline"></ion-icon> Observation </b>{{dato.description_observation}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b><ion-icon name="checkmark-outline"></ion-icon> Sub Observation </b>{{dato.observation_child_name}}</ion-label>
      </ion-item>
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label> <ion-icon name="chatbubble-ellipses-outline"></ion-icon> Comments </ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
            {{dato.comments}}
            </div>
          </ion-accordion>
        </ion-accordion-group>

        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" color="light" (click)="showPhotos(dato.id)">
              <ion-label> <ion-icon name="image"></ion-icon> Show Photos </ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-grid *ngFor="let photo of photos">
                <ion-col>
                  <ion-img src="data:image/png;base64,{{photo.url_image}}"></ion-img>
                </ion-col>
              </ion-grid>
            </div>
          </ion-accordion>
        </ion-accordion-group>

    </ion-card-content>
  </ion-card>

</ion-content>
<footer>
  <ion-button fill="default" expand="full" routerLink="../../list" style="background-color: #fff;color: #000;"><ion-icon name="chevron-back-outline"></ion-icon>Back</ion-button>
</footer>

